html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  padding-left: 5%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-bottom: 2px solid black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 10;
}

.footer {
  border-top: 2px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.request-button {
  font-size: 1.5em;
}

.form-submit {
  width: 100%;
}

.modal-footer button {
  width: 100%
}