$standard-border: 2px solid black;

@mixin flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

@mixin flex-centralize {
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  padding-left: 5%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-bottom: $standard-border;
}

.content {
  @include flex-column;
  @include flex-centralize;
  flex-grow: 10;
}

.footer {
  border-top: $standard-border;
  flex-grow: 1;
  @include flex-column;
  @include flex-centralize;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.request-button {
  font-size: 1.5em;
}

.form-submit {
  width: 100%;
}

.modal-footer button {
  width: 100%
}