<div class="modal-header">
    <h3 class="modal-title text-center">Request an invite</h3>
</div>
<div class="modal-body">
    <form name="inputForm" novalidate>
        <input class="form-input" placeholder="Full name" ng-model="fullName" required/>
        <input class="form-input" placeholder="Email" ng-model="email" type="email" required/>
        <input class="form-input" placeholder="Confirm email" ng-model="confirmEmail" required/>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-info form-submit" ng-click="ctrl.send()">Send</button>
</div>